<table user="{name}" class="user">
    <tr>
        <td rowspan="2" scope="col" class="cc1">{usericon}<img class="profava" src="{url}" alt="" nn={n} /></td>
        <td scope="col" style="padding-top:6px"></td>
    </tr>
    <tr>
        <td class="cc2"><img class="stateSign" {stateBtn} src="img/{states}" alt="{statest}" title="{statest}" />{tmenu}
            <div class="profnick {p}" title="Юзер: {name}">{n}</div>
            <div class="clear"></div>
            <div class="statetxt">{st}</div>
            <div class="clear"></div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="cc3">
            <div class="usmenu" priv="{priv}">Действия</div>
        </td>
    </tr>
</table>